.column-layout {
  display: flex;
  flex-direction: column;
}
.homepage-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  overflow: hidden;
}
.navbar-title-container {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.footer-section {
  background-color: var(--ig-surface-50);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.footer-content-row {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 32px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.footer-max-width-container {
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  flex-grow: 1;
  flex-basis: 0;
}
.footer-company-info {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.footer-logo-row {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.footer-social-media {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.footer-copyright-row {
  border-color: var(--ig-gray-400);
  border-width: 1px 0px 0px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0;
  position: relative;
  padding: 0 32px;
  min-height: 64px;
  flex-grow: 1;
  flex-shrink: 0;
}
.top-navigation-bar {
  color: var(--ig-surface-500-contrast);
  background-color: var(--nordicMinimalistTheme-surface-50);
  z-index: 1;
  position: sticky;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.page-container {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.car_icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.content {
  height: max-content;
  min-width: min-content;
}
.icon {
  color: var(--ig-surface-500-contrast);
}
.footer-site-icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-gray-600);
}
.footer-site-name {
  color: var(--ig-gray-900);
  height: max-content;
  min-width: min-content;
}
.content_2 {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
}
.mail-icon {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: var(--ig-gray-600);
}
.customer-support-link {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.home-nav-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.account-nav-button::part(base) {
  color: var(--ig-surface-500-contrast);
}
.language-selector {
  min-width: unset;
  max-width: unset;
}
