.row-layout {
  display: flex;
}
.login-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.login-form-container {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 32px;
  min-width: min-content;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.login-column-layout {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 320px;
  min-height: 50px;
  max-width: 560px;
  flex-grow: 1;
  flex-basis: 0;
}
.login-inputs-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.login-options-row {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.create-account-row {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.forgot-password-link {
  color: var(--ig-info-500);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.create-new-account-link {
  color: var(--ig-info-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.login-image {
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.user-input {
  height: max-content;
  min-width: min-content;
}
.sign-in-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
