.column-layout {
  display: flex;
  flex-direction: column;
}
.car-configurator-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.car-configurator-steps {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.step-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  position: relative;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.model-step-content {
  height: max-content;
  min-width: min-content;
}
