.column-layout {
  display: flex;
  flex-direction: column;
}
.home-view-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.row-layout {
  display: flex;
}
.hero-section {
  background-color: nordicMinimalistTheme:surface-50;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 400px;
  flex-shrink: 0;
}
.hero-max-width-container {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
}
.hero-content {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 320px;
  flex-grow: 1;
  flex-basis: 0;
}
.hero-titles {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.hero-actions {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.image-carousel-section {
  background-color: var(--ig-surface-50);
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.image-carousel-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  max-width: 1400px;
  flex-grow: 1;
  flex-basis: 0;
}
.image-carousel-titles {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.featured-new-cars-carousel {
  min-width: 300px;
  min-height: 240px;
}
.image-gallery-section {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.image-gallery-grid {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.hero-engage-statement {
  color: var(--ig-gray-800);
  height: max-content;
  min-width: min-content;
}
.hero-image {
  object-fit: cover;
  border-radius: 8px;
  min-width: 320px;
  min-height: 0;
  max-height: 350px;
  flex-grow: 1;
  flex-basis: 0;
}
.image-carousel-title {
  text-align: center;
  color: var(--ig-gray-900);
  height: max-content;
  min-width: min-content;
}
.image-carousel-subtitle {
  text-align: center;
  color: var(--ig-gray-800);
  height: max-content;
  min-width: min-content;
}
.suv-image {
  object-fit: cover;
  border-radius: 0px;
  min-width: 320px;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.suv-slide {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  position: absolute;
}
.browse-new-cars-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
