.column-layout {
  display: flex;
  flex-direction: column;
}
.my-account-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.my-account-title {
  height: max-content;
  min-width: min-content;
}
