.column-layout {
  display: flex;
  flex-direction: column;
}
.offers-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.offers-title {
  height: max-content;
  min-width: min-content;
}
